* {
    color: white;
    font-family:'DM Sans';
    margin: 0;
}

header {
    position: fixed;
    background-color: #050067;
    padding-top: 3vh;
    padding-bottom: 4vh;
    font-size: 4vh;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

a {
    font-size: 3vh;
    color: rgb(255, 255, 255);
    opacity: 90%;
    text-shadow: 0px 0px 10px rgb(0, 255, 183);
    padding: 2vh;
    font-weight: bold;
    text-decoration: none;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(122, 255, 167);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(197, 255, 204);
    background-color: transparent;
    text-decoration: underline;
  }
  </style>


.darkdropfade {
    text-shadow: 0px 0px 5px rgb(0, 143, 105);
    color: rgb(0, 0, 0);
}
.dropfade {
    text-shadow: 0px 0px 15px rgb(0, 249, 183);
    color: rgb(255, 255, 255);
}

.hobbies {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 6vh;
}

.parallax {
    background-image: url("bg.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.footer {
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: #000000;
    color: white;
    text-align: center;
    color: white
    
  }

h1 {
font-size: 8vh;
text-align: center;
margin-top: 40vh;

}

h2 {
    text-align: center;
    font-size: 3vh;
    text-shadow: 0px 0px 7px rgb(255, 255, 255);
    color: transparent;
    padding-bottom: 16vh;
}

h3 {
    text-align: center;
    margin-left: 60vh;
    margin-right: 60vh;
    margin-top: 10vh
}

h4 {
    padding-left:30vh;
    padding-right:30vh;
    margin-top: 5vh;
    text-align: center;
}

p {
    text-align: center;
}

body {
    background-color: #01123e;
}

.parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    margin-top: 0vh;
    margin: 10vh;
    display: grid;
    }

.parentinline {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        margin-top: 0vh;
        margin: 10vh;
        display: inline;
        }

    .child {
        padding-bottom: 4vh;
        font-size: 30px;
        text-align: center;
        font-size: 3vh;
        overflow: auto;
    }

.art {
    max-width: 60vh;
    box-shadow: 1px 1px 20px rgb(0, 255, 213);
    position: relative;
}